[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=3.7"
twine = "*"
pyyaml = "*"
request = ">=2.20.0"

[packages]
cobra-hdwallet = {editable = true,path = "."}

[requires]
python_version = "3.6"
